/*
.links {
    .show-on-mobile('none');
    border: 1px solid red;
    padding: 10px;
  }
*/
@import "../../assets/GTWalsheimPro/stylesheet.css";
.blue-black {
  color: #1e1e1e;
}
.blue-black .blue {
  color: #192cd1;
}
.davy-gray {
  color: #525252;
}
.bred {
  border: 1px solid red;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5.9rem 6.08vw;
  gap: 8.25rem;
}
footer section {
  width: 100%;
  max-width: 1304px;
}
footer section.main {
  display: flex;
  gap: 16.25rem;
}
footer section.main .logo img {
  width: 10.93rem;
  margin-bottom: 2.625rem;
}
footer section.main .logo p {
  max-width: 14rem;
}
footer section.main .links {
  flex: 1;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 4.5rem;
}
footer section.main .links h4 {
  color: #192cd1;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.125rem;
}
footer section.main .links .cont {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
footer section.main .links .cont a {
  color: #525252;
  text-decoration: none;
}
