/*
.links {
    .show-on-mobile('none');
    border: 1px solid red;
    padding: 10px;
  }
*/
@import "../../assets/GTWalsheimPro/stylesheet.css";
.blue-black {
  color: #1e1e1e;
}
.blue-black .blue {
  color: #192cd1;
}
.davy-gray {
  color: #525252;
}
.bred {
  border: 1px solid red;
}
.section3 {
  margin: 5.125rem auto auto auto;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 7.34vh;
}
.section3 .inner {
  background-color: #FBFBFB;
  max-width: 1304px;
  margin: auto;
}
.section3 .inner > .text {
  display: flex;
  flex-direction: column;
  max-width: 32.9375rem;
  margin: auto;
  margin-bottom: 4.5rem;
}
.section3 .inner > .text .top-text {
  background: linear-gradient(225deg, #4043FF 0%, #192CD1 100%);
  display: inline-block;
  margin: auto;
  color: #E8EBFF;
  padding: 1.07vh 1.04vw;
  font-weight: 500;
  border-radius: 20px;
  margin-bottom: 1.43vh;
}
.section3 .inner > .text h1 {
  font-size: 1.88rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.07vh;
}
.section3 .inner > .text p {
  text-align: center;
}
.section3 .inner .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 5.25rem;
}
.section3 .inner .products .product {
  min-width: 19.5rem;
  max-width: 19.5rem;
}
.section3 .inner .products .product .img-cont {
  background-color: #EAECFF;
  min-height: 12.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem 1.5rem 0px 0px;
}
.section3 .inner .products .product .img-cont img {
  width: 5.26rem;
}
.section3 .inner .products .product .text {
  background-color: #F4F4F4;
  border-radius: 0px 0px 24px 24px;
  padding: 2.51vh 1.85vw;
}
.section3 .inner .products .product .text h3 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1.07vh;
}
.section3 .inner .products .product .text p {
  color: #525252;
  margin-bottom: 2.07vh;
}
.section3 .inner .products .product .text a {
  text-decoration: none;
  font-weight: bold;
  color: #192cd1;
}
@media screen and (min-width: 1195px)  {
  .section3 {
    padding-bottom: 7.34vh;
  }
}
@media screen and (min-device-width: 927px) and (max-device-width: 1194px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape)  {
  .section3 {
    padding-bottom: 5rem;
  }
  .section3 .inner .text .top-text {
    padding: 1.3vh 1.7vw;
  }
  .section3 .inner .products {
    padding: 0vh 6.51vw;
    gap: 3vw;
  }
  .section3 .inner .products .product {
    min-width: 16rem;
    max-width: 16rem;
  }
  .section3 .inner .products .product .img-cont {
    min-height: 20vh;
  }
  .section3 .inner .products .product .img-cont img {
    width: 4rem;
  }
  .section3 .inner .products .product .text h3 {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  .section3 {
    padding-bottom: 3rem;
  }
  .section3 .inner .text {
    margin-bottom: 2rem;
  }
  .section3 .inner .text .top-text {
    padding: 1.3vh 2.7vw;
    border-radius: 25px;
  }
  .section3 .inner .text h1 {
    transform: scale(0.9);
  }
  .section3 .inner .products {
    gap: 0.5vw;
    padding: 0vh 6.51vw;
  }
  .section3 .inner .products .product {
    transform: scale(0.9);
    max-width: 13.5rem;
    min-width: 13.5rem;
  }
  .section3 .inner .products .product .img-cont {
    min-height: 12vh;
    max-height: 12vh;
  }
  .section3 .inner .products .product .img-cont img {
    width: 4rem;
  }
  .section3 .inner .products .product .text {
    padding: 2vh 1.8vw;
  }
  .section3 .inner .products .product .text h3 {
    font-size: 1.1rem;
  }
  .section3 .inner .products .product .text p {
    margin-bottom: 8px;
    font-size: 0.8rem;
  }
  .section3 .inner .products .product .text a {
    font-size: 0.85rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 926px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape)  {
  .section3 {
    padding-bottom: 7.3vh;
  }
  .section3 .inner > .text .top-text {
    font-size: 0.9rem;
    padding: 1.3vh 1.7vw;
  }
  .section3 .inner .products {
    gap: 5vw;
  }
  .section3 .inner .products .product {
    max-width: 25vw;
    min-width: 25vw;
    width: 25vw;
  }
  .section3 .inner .products .product .img-cont {
    max-height: 8.5rem;
    min-height: 8.5rem;
  }
  .section3 .inner .products .product .img-cont img {
    width: 4rem;
  }
  .section3 .inner .products .product .text h3 {
    font-size: 1rem;
  }
  .section3 .inner .products .product .text p,
  .section3 .inner .products .product .text a {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait)  {
  .section3 {
    padding: 0vh 6.51vw;
    border-bottom: 1px solid transparent;
  }
  .section3 .inner > .text .top-text {
    font-size: 0.9rem;
    padding: 1.5vh 4.7vw;
    border-radius: 25px;
  }
  .section3 .inner .products {
    gap: 6vh;
  }
  .section3 .inner .products .product .img-cont {
    padding: 8.8vh;
  }
  .section3 .inner .products .product .text {
    background-color: transparent;
    padding: 3.43vh;
  }
  .section3 .inner .products .product .text h3 {
    font-size: 1.4rem;
    text-align: center;
  }
  .section3 .inner .products .product .text p {
    text-align: center;
    margin-bottom: 2.15vh;
  }
  .section3 .inner .products .product .text a {
    display: block;
    width: 100%;
    text-align: center;
  }
}
