<div class="hero">
    <div class="flex-container">
        <div class="hero-image">
            <img src="/assets/images/hero-img.png" alt="">
        </div>
        <div class="text">
            <!-- Simplified payment solutions for (Businesses, Organizations, Enterprises) -->
            <h1 class="blue-black">Simplified payment solutions for <span class="blue">your business.</span></h1>
            <p class="davy-gray">Marasoft Pay provides a secure and seamless financial solution for businesses</p>
            <div class="buttons">
                <a class="blue">
                    <span>Create free account </span>
                    <svg width="11" height="11" viewBox="0 0 11 11" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.866154 10.6735C1.15905 10.9664 1.63392 10.9664 1.92681 10.6735L9.14648 3.45385V9.14319C9.14648 9.5574 9.48227 9.89319 9.89648 9.89319C10.3107 9.89319 10.6465 9.5574 10.6465 9.14319V1.64319C10.6465 1.22898 10.3107 0.893188 9.89648 0.893188H2.39648C1.98227 0.893188 1.64648 1.22898 1.64648 1.64319C1.64648 2.0574 1.98227 2.39319 2.39648 2.39319H8.08582L0.866154 9.61286C0.573261 9.90575 0.573261 10.3806 0.866154 10.6735Z" fill="currentColor" />
                    </svg>
                </a>
                <a>
                    <span>Contact Sales</span>
                    <svg width="11" height="11" viewBox="0 0 11 11" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.866154 10.6735C1.15905 10.9664 1.63392 10.9664 1.92681 10.6735L9.14648 3.45385V9.14319C9.14648 9.5574 9.48227 9.89319 9.89648 9.89319C10.3107 9.89319 10.6465 9.5574 10.6465 9.14319V1.64319C10.6465 1.22898 10.3107 0.893188 9.89648 0.893188H2.39648C1.98227 0.893188 1.64648 1.22898 1.64648 1.64319C1.64648 2.0574 1.98227 2.39319 2.39648 2.39319H8.08582L0.866154 9.61286C0.573261 9.90575 0.573261 10.3806 0.866154 10.6735Z" fill="currentColor" />
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div class="logos">
        <p class="davy-gray">Trusted by 2000+ businesses across africa</p>
        <div class="images">
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
        </div>
    </div>
</div>