<div class="section5">
    <div class="text">
        <h1>Operating Countries</h1>
        <p>We currently allow businesses in Nigeria and Kenya businesses to transact and collect payments </p>
        <div class="links">
            <a href="" class="first">Our Reach</a>
            <a href="">Learn More</a>
        </div>

    </div>
    <img src="./assets/images/globe.png" width="200px" alt="">
</div>