<section class="section2">

    <div class="img-cont">
        <img src="./assets/images/hand-holding-mobile-checkout.png" alt="">
    </div>
    <div class="text">
        <div class="inner">
            <h2>Convenient payment collections at your fingertips.</h2>
            <p>Collect payments from individuals or businesses locally and globally, and settle them in multiple currencies, ensuring a cost-effective and hassle-free payment process.</p>
            <ul>
                <li>
                    <span class="circle"></span>
                    <span>
                        Bulk Transfers
                    </span>
                </li>
                <li>
                    <span class="circle"></span>
                    <span>
                        USSD
                    </span>
                </li>
                <li>
                    <span class="circle"></span>
                    <span>
                        Cards
                    </span>
                </li>
                <li>
                    <span class="circle"></span>
                    <span>
                        Virtual Bank Accounts
                    </span>
                </li>
                <li>
                    <span class="circle"></span>
                    <span>
                        Mobile Money
                    </span>
                </li>
            </ul>
            <a href="">See Checkout Demo</a>
        </div>
    </div>

</section>