<div class="section4-cont">
    <div class="section4">
        <!-- <div id="carousel" class="carousel carousel-fade slide" data-bs-interval="false"> -->
        <div id="carousel" class="carousel carousel-fade slide" data-bs-interval="3500" data-bs-ride="carousel">
    
    
            <!-- controls -->
            <div class="carousel-indicators">
                <div class="header-text">
                    <h1>Easily transfer funds via API or dashboard</h1>
                    <p style="color:transparent">Transfer funds locally and globally</p>
                </div>
    
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
                    <div class="num">
                        <h4>01</h4>
                    </div>
                    <div class="text">
                        <h4>Single Transfers</h4>
                        <p>With one integration, you can swiftly and securely move funds to a single account without hassle.</p>
                    </div>
                </button>
    
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2" style="">
                    <div class="num">
                        <h4>02</h4>
                    </div>
                    <div class="text">
                        <h4>Bulk Transfers</h4>
                        <p>Facilitate the seamless transfer of large volumes of funds to multiple recipients simultaneously i.e Salary Payments.</p>
                    </div>
                </button>
    
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3">
                    <div class="num">
                        <h4>03</h4>
                    </div>
                    <div class="text">
                        <h4>Transfers Between Marasoft Accounts</h4>
                        <p>Easy and speedy transfers from one wallet to another wallet within the Marasoftpay system.</p>
                    </div>
                </button>
    
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 3">
                    <div class="num">
                        <h4>04</h4>
                    </div>
                    <div class="text">
                        <h4>Settlement in our supported Currencies</h4>

                        <p class="hide-mobile">Transact and manage transactions  in our supported currencies, embracing the versatile capability of our multi- currency support feature.
                           <br> Other currencies coming soon.</p>
                           
                    </div>
                </button>
    
    
            </div>
            <!-- items -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/images/single-transfer.svg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Single Transfers</h5>
                        <p>With one integration, you can swiftly and securely move funds to a single account without hassle.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="./assets/images/bulk-transfer.svg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Bulk Transfers</h5>
                        <p>Facilitate the seamless transfer of large volumes of funds to multiple recipients simultaneously i.e Salary Payments.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="./assets/images/acc-acc-transfers.svg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Transfers Between Marasoft Accounts</h5>
                        <p>Easy and speedy transfers from one wallet to another wallet within the Marasoftpay system.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="./assets/images/settlements.svg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Settlement in our supported Currencies</h5>
                        <p>Manage transactions  in our supported currencies. Embrace the versatile capability of our multi- currency support feature.</p>
                    </div>
                </div>
            </div>
    
            <!-- header text for mobile -->
            <div class="header-text mobile">
                <h1>Easily transfer funds locally and globally</h1>
                <p>Transfer funds locally and globally</p>
            </div>
        </div>
    </div>
</div>

