<div class="section7">

    <h3>Did you know?</h3>
    <div class="inner">
        <div class="img-cont">
            <img src="./assets/images/mascot-holding-questionmark.png" alt="">
        </div>

        <div id="carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="">
                        <img src="./assets/images/did-you-know-1.svg" alt="">
                        <p>Did you know that you can use our payouts feature for secure single and bulk transfers?</p>

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="">
                        <img src="./assets/images/did-you-know-2.svg" alt="">
                        <p>Did you know that our payment solution supports multi-currency transactions, enabling you to
                            expand your customer base globally?</p>

                    </div>
                </div>

                <div class="carousel-item">
                    <div class="">
                        <img src="./assets/images/did-you-know-3.svg" alt="">
                        <p>Did you know that our payment solution offers a user-friendly dashboard where you can monitor
                            and manage your transactions in real-time?</p>

                    </div>
                </div>

                <div class="carousel-item">
                    <div class="">
                        <img src="./assets/images/did-you-know-4.svg" alt="">
                        <p>Did you know that you can get instant settlements for your businesses in our multiple
                            supported currencies?</p>
                    </div>
                </div>


                <div class="carousel-item">
                    <div class="">
                        <img src="./assets/images/did-you-know-5.svg" alt="">
                        <p>Did you know that Marasoft Pay cards helps you curb downtimes in your businesses?</p>
                    </div>
                </div>



            </div>



            <div class="controller-cont">
                <button class="carousel-control-prev arrow left" type="button" data-bs-target="#carousel"
                    data-bs-slide="prev">
                    <img src="./assets/images/arrow-left.png" alt="">
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next arrow right" type="button" data-bs-target="#carousel"
                    data-bs-slide="next">
                    <img src="./assets/images/arrow-right.png" alt="">
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
    </div>
</div>

<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script>
    $(document).ready(function () {

        $('.carousel-control-prev').click(function () {
            console.log('Previous button clicked');
            $('#carousel').carousel('prev');
        });

        $('.carousel-control-next').click(function () {
            console.log('Next button clicked');
            $('#carousel').carousel('next');
        });

    });
</script> -->