<div class="section6">
    <div class="inner">
        <div class="one">
            <div class="first">
                <p class="sub">Card Transactions for Nigeria</p>
                <h1 class="main">
                    3.5%
                </h1>
                <p class="sub">per successful transaction</p>
            </div>
            <div class="second">
            <p class="sub">Collections for Kenya</p>
                <h1 class="main">
                    1.5%
                </h1>
                <p class="sub">for mobile money deposits</p>
            </div>
        </div>
        <div class="two">
            <h1>Pricing (Nigeria & Kenya)</h1>
            <p>Whether you are handling the Nigerian Naira or Kenyan Shillings our pricing system will help you win.</p>
            <div class="links"><a class="first" href="">View Pricing</a><a href="">Contact Sales</a></div>
        </div>
    </div>
</div>