<div class="section9">
    <div class="inner">
        <div class="text">
            <h2>Integrate with us through our easy to use API or via Dashboard.</h2>
            <p>Our platform offers seamless integration options to suit different user needs.</p>
            <div class="links">
                <a href="">Create an account</a>
                <a href="">Contact Sales</a>
            </div>
        </div>
        <div class="cards">
            <div class="card">
                <img src="./assets/images/dev-docs.png" alt="">
                <h4>For Developers</h4>
                <p>A well documented guide for automated integraitions</p>
                <a href="">View Documentation</a>
            </div>
            <div class="card">
                <img src="./assets/images/product-docs.png" alt="">
                <h4>For Non-Technical Users</h4>
                <p>Integrate with us via a user-friendly dashboard interface.</p>
                <a href="">Access Dashboard</a>
            </div>
        </div>
    </div>
</div>