<section class="section1">
    <div class="text">
        <h1>Connecting the world, one transaction at a time.</h1>
        <p>At Marasoft Pay, we prioritise a hassle-free payment experience for both domestic and international transactions.</p>
    </div>
    <div class="blocks">
        <div>
            <div class="img-cont">
                <img src="./assets/images/currencies.png" alt="">
            </div>
            <h2>Supported Currencies</h2>
            <p> One integration that supports multiple currencies NGN, KSH.</p>
        </div>
        <div>
            <div class="img-cont">
                <img src="./assets/images/api.png" alt="">
            </div>
            <h2>Unlimited API Calls</h2>
            <p>Unlimited access to resources that allow you to build easily scalable applications.</p>
        </div>
        <div>
            <div class="img-cont">
                <img src="./assets/images/virtual-cards.png" alt="">
            </div>
            <h2>Multiple Payment Options</h2>
            <p>Easily accessible payment options that make transactions convenient for your customers.</p>
        </div>
    </div>
</section>