<div class="section8">
    <h3>Why Marasoft Pay?</h3>
    <div class="inner">
        <div class="item">
            <div class="img-cont">
                <img src="./assets/images/Stability.png" alt="">
            </div>
            <h4>Scalability</h4>
            <p>Our robust infrastructure provides you with a range of features and services that can be applied in various industries to drive business growth</p>
        </div>
        <div class="item">
            <div class="img-cont">
                <img src="./assets/images/Safelock.png" alt="">
            </div>
            <h4>Security</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe accusamus architecto voluptatum obcaecati beatae ut?</p>
        </div>
        <div class="item">
            <div class="img-cont">
                <img src="./assets/images/Scale.png" alt="">
            </div>
            <h4>Stability</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe accusamus architecto voluptatum obcaecati beatae ut?</p>
        </div>
    </div>
</div>