<div class="section3">
    <div class="inner">
        <div class="text">
            <span class="top-text">Products</span>
            <h1>A global infrastructure, connecting the world via payments</h1>
            <p>We aim to bridge the payment gap between our clients, their businesses and their customers <span> locally
                    and internationally. </span></p>
        </div>
        
        <div class="products">

            <div class="product">
                <div class="img-cont"><img src="./assets/images/voucher.png" alt=""></div>
                <div class="text">
                    <h3>Checkout</h3> 
                    <p>With multiple payment options, our checkout page ensures flexibility and convenience. </p>

                    <a href="">Checkout Demo</a>
                </div>
            </div>

            <div class="product">
                <div class="img-cont"><img src="./assets/images/pos.png" alt=""></div>
                <div class="text">
                    <h3>E-POS</h3>
                    <p>No need for external hardware, your smartphone can be used as a POS machine.</p>

                    <a href="">Learn More</a>
                </div>
            </div>
            <div class="product">
                <div class="img-cont"><img src="./assets/images/payment-links.png" alt=""></div>
                <div class="text">
                    <h3>Payment Links</h3>
                    <p>No website? No worries. You are a link away from seamless payment collections.</p>

                    <a href="">Learn More</a>
                </div>
            </div>

            <div class="product">
                <div class="img-cont mpay-cards"><img src="./assets/images/mpay-cards.png" alt=""></div>
                <div class="text">
                    <h3>Marasoft Cards</h3>
                    <p>Boost your sales and customer relationship with our loyalty cards tailored to your business.</p>

                    <a href="">Learn More</a>
                </div>
            </div>

            <div class="product">
                <div class="img-cont"><img src="./assets/images/instore-checkout.png" alt=""></div>
                <div class="text">
                    <h3>In-Store Checkout</h3>
                    <p>Maximize your business capabilities using our in-store checkout solution.</p>

                    <a href="">Learn More</a>
                </div>
            </div>

            <div class="product">
                <div class="img-cont"><img src="./assets/images/voucher.png" alt=""></div>
                <div class="text">
                    <h3>Vouchers</h3>
                    <p style=" ">Give your customers access to redeemable vouchers that comply with cash policies.</p>

                    <a style="color:#5a0c13; pointer-events: none;">Coming soon</a>
                </div>
            </div>
        </div>
    </div>
</div>