/*
.links {
    .show-on-mobile('none');
    border: 1px solid red;
    padding: 10px;
  }
*/
@import "../../assets/GTWalsheimPro/stylesheet.css";
.blue-black {
  color: #1e1e1e;
}
.blue-black .blue {
  color: #192cd1;
}
.davy-gray {
  color: #525252;
}
.section1 .text {
  max-width: 537px;
  margin: auto;
}
.section1 .text h1,
.section1 .text p {
  text-align: center;
}
.section1 .text h1 {
  font-size: 2rem;
  font-weight: bold;
}
.section1 .blocks {
  display: flex;
  justify-content: space-between;
  margin-top: 10.2vh;
}
.section1 .blocks div {
  max-width: 330px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.section1 .blocks div .img-cont {
  min-height: 150px;
  max-height: 150px;
  margin-bottom: 2.86vh;
}
.section1 .blocks div img {
  flex-shrink: 0;
  margin: auto !important;
}
.section1 .blocks div h2,
.section1 .blocks div p {
  text-align: center;
}
.section1 .blocks div h2 {
  font-weight: bold;
  font-size: 1.5rem;
}
@media screen and (min-width: 1081px)  {
  .section1 {
    max-width: 1304px;
    margin: auto;
    padding: 10.91vh 0vw;
  }
}
@media screen and (min-device-width: 927px) and (max-device-width: 1080px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape)  {
  .section1 {
    padding: 10.91vh 6.51vw;
  }
  .section1 .blocks {
    gap: 1vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  .section1 {
    padding: 10.91vh 5.96vw;
  }
  .section1 .blocks {
    gap: 4.5vw;
    margin-top: 8.2vh;
  }
}
@media screen and (min-width: 320px) and (max-width: 926px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape)  {
  .section1 {
    padding: 10.91vh 6.51vw;
  }
  .section1 .blocks {
    gap: 5vw;
  }
  .section1 .blocks div h2 {
    font-size: 1.1rem;
  }
  .section1 .blocks div p {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) and (orientation: portrait)  {
  .section1 {
    background-color: #F6F6FF;
    padding: 7.73vh 6.54vw;
  }
  .section1 .blocks {
    margin-top: 12.2vh;
    flex-direction: column;
    align-items: center;
    gap: 6.87vh;
  }
}
