<li class="item">
    <div class="icon">
        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="48" height="48" rx="8" fill="#EAECFF" />
            <path d="M15.9988 24.0001L14 17.5039C18.8418 18.9104 23.3385 21.128 27.3333 23.9999C23.3386 26.8719 18.8419 29.0896 14.0001 30.4961L15.9988 24.0001ZM15.9988 24.0001L21.4885 24.0001M22.6655 24.0001L20.6667 17.5039C25.5085 18.9104 30.0052 21.128 34 23.9999C30.0053 26.8719 25.5086 29.0896 20.6668 30.4961L22.6655 24.0001ZM22.6655 24.0001L28.1552 24.0001" stroke="#192CD1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </div>
    <div class="text">
        <span class="main">Bulk Payout</span>
        <span class="sub">Transfer to multiple accounts</span>
    </div>

</li>