<li class="item">
    <div class="icon">
        <svg width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="0.8125" width="48" height="48" rx="8" fill="#EAECFF" />
            <path d="M18.2857 16.2411V21.9554M16.8571 20.6134L17.2757 20.9273C17.8335 21.3457 18.738 21.3457 19.2959 20.9273C19.8538 20.5088 19.8538 19.8304 19.2959 19.412C19.0169 19.2028 18.6513 19.0982 18.2857 19.0982C17.9405 19.0982 17.5953 18.9936 17.3319 18.7844C16.8052 18.366 16.8052 17.6876 17.3319 17.2692C17.8587 16.8508 18.7126 16.8508 19.2393 17.2692L19.4369 17.4261M31.1429 17.3125L28.2857 17.3125M31.1429 18.7411H28.2857M29.7143 21.5982L28.2857 20.1696H29C29.789 20.1696 30.4286 19.53 30.4286 18.7411C30.4286 17.9521 29.789 17.3125 29 17.3125M19.3571 28.506C18.6033 28.2401 17.7305 28.4086 17.1276 29.0116C16.2908 29.8484 16.2908 31.2052 17.1276 32.042C17.7305 32.6449 18.6033 32.8135 19.3571 32.5476M16.1429 29.8125H18.6429M16.1429 31.2411H18.6429M28.2857 28.3839L29.7143 30.5268M29.7143 30.5268L31.1429 28.3839M29.7143 30.5268V33.0268M31.1429 30.5268H28.2857M31.1429 31.9554H28.2857M22.5714 19.0982C22.5714 21.4651 20.6526 23.3839 18.2857 23.3839C15.9188 23.3839 14 21.4651 14 19.0982C14 16.7313 15.9188 14.8125 18.2857 14.8125C20.6526 14.8125 22.5714 16.7313 22.5714 19.0982ZM34 19.0982C34 21.4651 32.0812 23.3839 29.7143 23.3839C27.3474 23.3839 25.4286 21.4651 25.4286 19.0982C25.4286 16.7313 27.3474 14.8125 29.7143 14.8125C32.0812 14.8125 34 16.7313 34 19.0982ZM22.5714 30.5268C22.5714 32.8937 20.6526 34.8125 18.2857 34.8125C15.9188 34.8125 14 32.8937 14 30.5268C14 28.1599 15.9188 26.2411 18.2857 26.2411C20.6526 26.2411 22.5714 28.1599 22.5714 30.5268ZM34 30.5268C34 32.8937 32.0812 34.8125 29.7143 34.8125C27.3474 34.8125 25.4286 32.8937 25.4286 30.5268C25.4286 28.1599 27.3474 26.2411 29.7143 26.2411C32.0812 26.2411 34 28.1599 34 30.5268Z" stroke="#192CD1" stroke-width="0.9" stroke-linecap="round" stroke-linejoin="round" />
        </svg>

    </div>
    <div class="text">
        <span class="main">Cross Currency</span>
        <span class="sub">Transfer to multiple accounts</span>
    </div>

</li>