<!-- Ghana  -->
<li class="item">
    <div class="icon">
        <img src="./assets/images/ghana-flag.svg" style="width: 3rem;" alt="">

    </div>
    <div class="text">
        <span class="main">Ghana (coming soon)</span>
    </div>

</li>